.sm-filtbar {
	height: 40px;
	background: #fff
}

.sm-filtbar a i, .sm-filtbar a span, .sm-filtbar a em {
	cursor: pointer
}

.sm-filtbar a:link, .sm-filtbar a:visited {
	color: #555
}

.sm-filtbar a:hover {
	color: #ff7300;
	text-decoration: none
}

.sm-filtbar i, .sm-filtbar span, .sm-filtbar em {
	cursor: default
}

.sm-filtbar .smw-fixedbar {
	background: #f5f5f5;
	height: 38px;
	border: solid 1px #e8e8e8
}

.sm-filtbar .sm-widget-sort {
	float: left;
	display: inline;
	height: 38px;
	overflow: hidden;
	margin-left: -1px
}

.sm-filtbar .sm-widget-sort li {
	float: left;
	display: inline;
	margin-left: -1px;
	width: 61px;
	height: 42px
}

.sm-filtbar .sm-widget-sort a {
	display: block;
	height: 18px;
	padding: 10px 0;
	background: #f5f5f5;
	border: solid 1px #e8e8e8;
	border-width: 0 1px;
	text-align: center;
	line-height: 17px
}

.sm-filtbar .sm-widget-sort a:link, .sm-filtbar .sm-widget-sort a:visited
	{
	background: #f5f5f5
}

.sm-filtbar .sm-widget-sort a:link .sw-dpl-arrows-b em, .sm-filtbar .sm-widget-sort a:visited .sw-dpl-arrows-b em
	{
	border-top-color: #f5f5f5
}

.sm-filtbar .sm-widget-sort a:link .sw-dpl-arrows-t em, .sm-filtbar .sm-widget-sort a:visited .sw-dpl-arrows-t em
	{
	border-bottom-color: #f5f5f5
}

.sm-filtbar .sm-widget-sort a:hover {
	background: #fff
}

.sm-filtbar .sm-widget-sort a:hover .sw-dpl-arrows-b em {
	border-top-color: #fff
}

.sm-filtbar .sm-widget-sort a:hover .sw-dpl-arrows-t em {
	border-bottom-color: #fff
}

.sm-filtbar .sm-widget-sort .sw-dpl-arrows-b, .sm-filtbar .sm-widget-sort .sw-dpl-arrows-t
	{
	display: none;
	margin: -2px -6px 0 2px;
	vertical-align: middle
}

.sm-filtbar .sm-widget-sort .sm-widget-first {
	margin-left: 0
}

.sm-filtbar .sm-widget-sort .sm-widget-sort-price .sw-dpl-arrows-t {
	display: inline-block
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link, .sm-filtbar .sm-widget-sort .sm-widget-checked:visited,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover {
	position: relative;
	background: #fff;
	color: #ff7300;
	cursor: default
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link *, .sm-filtbar .sm-widget-sort .sm-widget-checked:visited *,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover * {
	cursor: default
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-b,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-b,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-b,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-t,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-t,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-t {
	display: inline-block
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-b i,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-b i,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-b i
	{
	border-top-color: #fff
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-b em,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-b em,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-b em
	{
	border-top-color: #ff7300
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-b span,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-b span,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-b span
	{
	border-left-color: #fff
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-t i,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-t i,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-t i
	{
	border-bottom-color: #fff
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-t em,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-t em,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-t em
	{
	border-bottom-color: #ff7300
}

.sm-filtbar .sm-widget-sort .sm-widget-checked:link .sw-dpl-arrows-t span,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:visited .sw-dpl-arrows-t span,
	.sm-filtbar .sm-widget-sort .sm-widget-checked:hover .sw-dpl-arrows-t span
	{
	border-left-color: #fff
}

.sm-filtbar .sm-widget-sort .sm-widget-sort-price:link, .sm-filtbar .sm-widget-sort .sm-widget-sort-price:visited,
	.sm-filtbar .sm-widget-sort .sm-widget-sort-price:hover {
	cursor: pointer
}

.sm-filtbar .sm-widget-sort .sm-widget-sort-price:link *, .sm-filtbar .sm-widget-sort .sm-widget-sort-price:visited *,
	.sm-filtbar .sm-widget-sort .sm-widget-sort-price:hover * {
	cursor: pointer
}

.sm-filtbar .sm-widget-area {
	position: relative;
	float: left;
	display: inline;
	height: 38px;
	width: 91px;
	margin-left: -1px;
	z-index: 1
}

.sm-filtbar .sm-widget-area .sm-widget-label {
	position: absolute;
	float: left;
	display: inline;
	top: -1px;
	left: 0;
	height: 18px;
	padding: 10px 9px 10px 14px;
	border: solid 1px #e8e8e8;
	background: #f5f5f5;
	overflow: hidden;
	line-height: 17px;
	white-space: nowrap;
	z-index: 2
}

.sm-filtbar .sm-widget-area .sm-widget-label .sm-widget-txt {
	float: left;
	display: inline;
	width: 48px;
	overflow: hidden
}

.sm-filtbar .sm-widget-area .sm-widget-label .sw-dpl-arrow-b {
	float: left;
	display: inline;
	margin-top: 6px;
	margin-left: 6px;
	vertical-align: middle
}

.sm-filtbar .sm-widget-area .sm-widget-label .sw-dpl-arrow-b em {
	border-top-color: #f5f5f5
}

.sm-filtbar .sm-widget-area .sm-widget-layer {
	position: absolute;
	left: 0;
	top: 38px;
	background: #fff;
	height: 0;
	overflow: hidden
}

.sm-filtbar .sm-widget-area:hover {
	z-index: 2
}

.sm-filtbar .sm-widget-area:hover .sm-widget-label {
	background: #fff;
	border-color: #d9d9d9;
	border-bottom-width: 0;
	padding-bottom: 11px;
	color: #ff7300;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .1)
}

.sm-filtbar .sm-widget-area:hover .sm-widget-label .sw-dpl-arrow-b {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.2246467991473532e-16, M21=-1.2246467991473532e-16, M22=-1, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0,
		M22=-1, SizingMethod='auto expand')
}

.sm-filtbar .sm-widget-area:hover .sm-widget-label .sw-dpl-arrow-b em {
	border-top-color: #fff
}

.sm-filtbar .sm-widget-area:hover .sm-widget-layer {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

.sm-filtbar .sm-widget-area .sm-widget-layer {
	height: 0;
	width: 91px;
	overflow: hidden
}

.sm-filtbar .sm-widget-checked .sm-widget-layer {
	visibility: visible;
	opacity: 1
}

.sm-filtbar .sm-widget-price {
	float: left;
	display: inline;
	background: #f5f5f5
}

.sm-filtbar .sm-widget-price .sm-widget-price-form {
	float: left;
	display: inline;
	padding: 7px 0 7px 15px;
	background: #f5f5f5
}

.sm-filtbar .sm-widget-price .sm-widget-split {
	float: left;
	display: inline;
	width: 8px;
	height: 1px;
	overflow: hidden;
	background: #888;
	margin: 12px 6px 0
}

.sm-filtbar .sm-widget-price .sw-dpl-input {
	float: left;
	display: inline;
	text-align: center;
	line-height: 17px
}

.sm-filtbar .sm-widget-price .sm-widget-price-end {
	margin-right: 1px
}

.sm-filtbar .sm-widget-price .sm-widget-price-define {
	float: left;
	display: inline;
	width: 0;
	height: 24px;
	overflow: hidden
}

.sm-filtbar .sm-widget-price .sm-widget-price-define .sw-dpl-define {
	float: right;
	display: inline;
	margin: 0 15px 0 10px
}

.sm-filtbar .sm-widget-price .sm-widget-checked {
	border-right: solid 1px #e8e8e8;
	background: #fff
}

.sm-filtbar .sm-widget-price .sm-widget-checked .sm-widget-price-define
	{
	width: 75px
}

.sm-filtbar .sm-widget-tags-list {
	float: left;
	display: inline;
	margin-left: 10px;
	padding: 4px 0
}

.sm-filtbar .sm-widget-tags-list li {
	float: left;
	display: inline;
	height: 18px;
	width: 80px;
	padding: 6px 0 6px 10px
}

.sm-filtbar .sm-widget-tags-list a {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	line-height: 17px
}

.sm-filtbar .sm-widget-tags-list .sm-widget-sp:link, .sm-filtbar .sm-widget-tags-list .sm-widget-sp:visited,
	.sm-filtbar .sm-widget-tags-list .sm-widget-sp:hover {
	color: #ff7300
}

.sm-filtbar .sm-widget-tags-list .sw-dpl-checkbox {
	float: left;
	display: inline;
	margin: 3px 10px 0 0;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-filtbar .sm-widget-tags-list .sw-dpl-checkbox em {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-filtbar .sm-widget-tags-list .sw-ui-flaticon-ww-online-s {
	float: left;
	display: inline;
	width: 16px;
	height: 18px;
	overflow: hidden;
	margin: 0 6px 0 0
}

.sm-filtbar .sm-widget-category {
	display: none;
	float: left;
	height: 30px;
	padding: 4px 0 4px 8px;
	border-left: solid 1px #e8e8e8;
	margin-left: 6px;
	width: 320px;
	overflow: hidden
}

.sm-filtbar .sm-widget-category li {
	float: left;
	display: inline
}

.sm-filtbar .sm-widget-category a {
	float: left;
	display: inline;
	padding: 6px;
	height: 18px;
	line-height: 17px
}

.sm-filtbar .sm-widget-count {
	float: right;
	display: inline;
	height: 18px;
	padding: 10px;
	line-height: 17px
}

.sm-filtbar .sm-widget-count em {
	color: #ff7300
}

.sm-filtbar .sm-widget-search {
	display: none;
	position: relative;
	float: right;
	width: 0;
	height: 38px;
	overflow: hidden;
	border-left: solid 1px #e8e8e8;
	background: #fff
}

.sm-filtbar .sm-widget-search-box {
	position: absolute;
	height: 32px;
	background: #fff;
	padding: 3px 5px
}

.sm-filtbar .sm-widget-search-box input {
	border: solid 2px #ff500b;
	padding: 4px 68px 6px 10px;
	height: 18px;
	line-height: 17px;
	width: 268px;
	color: #999
}

.sm-filtbar .sm-widget-search-box .sn-widget-input-tip {
	color: #c9c9c9
}

.sm-filtbar .sm-widget-search-active {
	position: absolute;
	display: none;
	top: 0;
	right: -1px;
	padding: 3px 5px 3px 0;
	width: 60px;
	height: 32px;
	border-right: solid 1px #e8e8e8
}

.sm-filtbar .sm-widget-search-active a {
	display: block;
	width: 60px;
	height: 18px;
	padding: 7px 0;
	overflow: hidden;
	background: #ff500b;
	color: #fff;
	line-height: 17px;
	text-align: center
}

.sm-filtbar .sm-widget-search-active a:link, .sm-filtbar .sm-widget-search-active a:visited,
	.sm-filtbar .sm-widget-search-active a:hover {
	color: #fff
}

.sm-filtbar-fixed {
	position: fixed;
	width: 1190px;
	top: 0;
	z-index: 99
}

.sm-filtbar-fixed .sm-widget-sort, .sm-filtbar-fixed .sm-widget-area,
	.sm-filtbar-fixed .sm-widget-count {
	display: none
}

.sm-filtbar-fixed .sm-widget-category {
	display: inline;
	width: 510px
}

.sm-filtbar-fixed .sm-widget-search {
	display: inline;
	width: 420px
}

.sm-filtbar-fixed .sm-widget-search-active {
	display: block
}

.sw-layout-990 .sm-filtbar-fixed {
	width: 990px
}

.sw-layout-990 .sm-filtbar-fixed .sm-widget-search {
	width: 320px
}

.sw-layout-990 .sm-filtbar-fixed .sm-widget-category {
	width: 410px
}

.sw-layout-990 .sm-filtbar .sm-widget-search-box input {
	width: 168px
}

.sw-layout-1390 .sm-filtbar-fixed {
	width: 1390px
}

.sw-layout-1390 .sm-filtbar-fixed .sm-widget-category {
	width: 700px
}

.sw-layout-1390 .sm-filtbar .sm-widget-search-box input {
	width: 268px
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-t i
	{
	border-bottom-color: #ff7300
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-t em
	{
	border-bottom-color: #fff
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-t span
	{
	border-left-color: #ff7300
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-b i
	{
	border-top-color: #ff7300
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-b em
	{
	border-top-color: #fff
}

.sm-filtbar .smw-fixedbar .sm-widget-sort .sm-widget-checked .sw-dpl-arrows-b span
	{
	border-left-color: #ff7300
}