.sm-bottomp4p {
	color: #555
}

.sm-bottomp4p a {
	-webkit-transition: color .3s ease 0s;
	-moz-transition: color .3s ease 0s;
	-o-transition: color .3s ease 0s;
	transition: color .3s ease 0s
}

.sm-bottomp4p a:link, .sm-bottomp4p a:visited {
	color: #555
}

.sm-bottomp4p a:hover {
	color: #ff7300;
	text-decoration: none
}

.sm-bottomp4p a span, .sm-bottomp4p a i {
	cursor: pointer
}

.sm-bottomp4p span {
	cursor: default
}

.sw-offer-220 .sm-bottomp4p dl {
	height: 314px;
	width: 220px
}

.sw-offer-220 .sm-bottomp4p dd .sm-widget-img {
	width: 220px;
	height: 220px;
	line-height: 220px
}

.sw-offer-270 .sm-bottomp4p dl {
	height: 364px;
	width: 270px
}

.sw-offer-270 .sm-bottomp4p dd .sm-widget-img {
	width: 270px;
	height: 270px;
	line-height: 270px
}

.sw-layout-990 .sw-offer-270 .sm-bottomp4p dl {
	height: 314px;
	width: 220px
}

.sw-layout-990 .sw-offer-270 .sm-bottomp4p dd .sm-widget-img {
	width: 220px;
	height: 220px;
	line-height: 220px
}

.sw-layout-990 .sw-offer-270 .sm-bottomp4p dd img {
	width: 100%
}

.sw-layout-990 .sw-offer-220 .sm-bottomp4p .sm-widget-list,
	.sw-layout-990 .sw-offer-270 .sm-bottomp4p .sm-widget-list {
	width: 990px;
	max-height: 672px;
	overflow: hidden
}

.sw-layout-990 .sw-offer-220 .sm-bottomp4p ol, .sw-layout-990 .sw-offer-270 .sm-bottomp4p ol
	{
	margin-left: -34px;
	width: 1024px
}

.sw-layout-990 .sw-offer-220 .sm-bottomp4p ol li, .sw-layout-990 .sw-offer-270 .sm-bottomp4p ol li
	{
	margin-left: 34px
}

.sw-layout-1190 .sw-offer-220 .sm-bottomp4p .sm-widget-list {
	width: 1190px;
	max-height: 672px;
	overflow: hidden
}

.sw-layout-1190 .sw-offer-220 .sm-bottomp4p ol {
	margin-left: -20px;
	width: 1210px
}

.sw-layout-1190 .sw-offer-220 .sm-bottomp4p ol li {
	margin-left: 20px
}

.sw-layout-1190 .sw-offer-270 .sm-bottomp4p .sm-widget-list {
	width: 1190px;
	max-height: 772px;
	overflow: hidden
}

.sw-layout-1190 .sw-offer-270 .sm-bottomp4p ol {
	margin-left: -34px;
	width: 1224px
}

.sw-layout-1190 .sw-offer-270 .sm-bottomp4p ol li {
	margin-left: 34px
}

.sw-layout-1390 .sw-offer-220 .sm-bottomp4p .sm-widget-list {
	width: 1390px;
	max-height: 672px;
	overflow: hidden
}

.sw-layout-1390 .sw-offer-220 .sm-bottomp4p ol {
	margin-left: -11px;
	width: 1401px
}

.sw-layout-1390 .sw-offer-220 .sm-bottomp4p ol li {
	margin-left: 11px
}

.sw-layout-1390 .sw-offer-220 .sm-bottomp4p ol li:nth-child(odd) {
	margin-left: 11px
}

.sw-layout-1390 .sw-offer-220 .sm-bottomp4p ol li:nth-child(even) {
	margin-left: 12px
}

.sw-layout-1390 .sw-offer-270 .sm-bottomp4p .sm-widget-list {
	width: 1390px;
	max-height: 772px;
	overflow: hidden
}

.sw-layout-1390 .sw-offer-270 .sm-bottomp4p ol {
	margin-left: -7px;
	width: 1397px
}

.sw-layout-1390 .sw-offer-270 .sm-bottomp4p ol li {
	margin-left: 7px
}

.sw-layout-1390 .sw-offer-270 .sm-bottomp4p ol li:nth-child(odd) {
	margin-left: 7px
}

.w-layout-1390 .sw-offer-270 .sm-bottomp4p ol li:nth-child(even) {
	margin-left: 7px
}

.sm-bottomp4p ol li {
	float: left;
	display: inline;
	margin-top: 20px
}

.sm-bottomp4p ol dl {
	width: 220px;
	height: 314px;
	border: solid 1px #efefef;
	background: #fff;
	overflow: hidden;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-bottomp4p ol .sm-widget-img {
	display: block;
	width: 220px;
	height: 220px;
	line-height: 220px;
	overflow: hidden;
	text-align: center
}

.sm-bottomp4p ol .sm-widget-img:link img, .sm-bottomp4p ol .sm-widget-img:visited img
	{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.sm-bottomp4p ol .sm-widget-img:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05)
}

.sm-bottomp4p ol .sm-widget-img i {
	display: inline-block;
	width: 0;
	overflow: hidden
}

.sm-bottomp4p ol .sm-widget-img img {
	display: inline-block;
	border-width: 0;
	margin-top: -3px;
	vertical-align: middle;
	_margin-top: -2px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s
}

.sm-bottomp4p ol dt {
	position: relative;
	height: 40px;
	padding: 0 13px
}

.sm-bottomp4p ol dt a {
	line-height: 19px
}

.sm-bottomp4p ol dt a .sm-widget-txt {
	line-height: 19px
}

.sm-bottomp4p ol .sm-widget-tag {
	padding: 12px 4px 8px 0;
	height: 20px
}

.sm-bottomp4p ol .sm-widget-tag a {
	float: right;
	display: inline;
	margin-right: 10px;
	margin-top: 1px;
	height: 18px
}

.sm-bottomp4p ol .sm-widget-tag a .sw-dpl-info {
	margin-top: 2px
}

.sm-bottomp4p ol .sm-widget-tag a .sw-dpl-info i {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-bottomp4p ol .sm-widget-price {
	float: left;
	display: inline;
	margin-left: 14px;
	height: 20px;
	overflow: hidden;
	color: #ff7300;
	font-size: 20px;
	line-height: 20px;
	font-family: arial
}

.sm-bottomp4p ol .sm-widget-del {
	float: left;
	display: inline;
	margin-left: 4px;
	margin-top: 2px;
	color: #888;
	text-decoration: line-through
}

.sm-bottomp4p ol .sm-widget-del .sm-widget-cny {
	font-size: 12px;
	letter-spacing: 0
}

.sm-bottomp4p ol .sm-widget-cny {
	font-family: arial;
	font-size: 16px;
	letter-spacing: 4px
}

.sm-bottomp4p ol .sm-widget-checked {
	border-color: #ff7300
}

.sm-bottomp4p h2 {
	float: left;
	display: inline;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	margin-top: 2px;
	border-left: solid 3px #ff7300;
	font-size: 18px;
	color: #333;
	font-family: "Microsoft Yahei", Arial;
	cursor: default
}

.sm-bottomp4p .sm-widget-iwant {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-bottomp4p .sm-widget-iwant:link, .sm-bottomp4p .sm-widget-iwant:visited
	{
	float: right;
	display: inline;
	height: 18px;
	padding: 2px 10px;
	margin-left: 10px;
	border: solid 1px #e8e8e8;
	background: #fff;
	color: #ff7300;
	line-height: 17px
}

.sm-bottomp4p .sm-widget-iwant:hover {
	border-color: #ff7300
}

.sm-bottomp4p .sm-widget-more {
	float: right;
	display: inline;
	height: 18px;
	padding: 2px 6px 2px 10px;
	margin-left: 10px;
	border: solid 1px #e8e8e8;
	background: #fff;
	line-height: 17px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-bottomp4p .sm-widget-more .sm-widget-txt, .sm-bottomp4p .sm-widget-more .sw-dpl-plus
	{
	float: left;
	display: inline
}

.sm-bottomp4p .sm-widget-more .sw-dpl-plus {
	margin: 3px 0 0 4px
}

.sm-bottomp4p .sm-widget-more .sw-dpl-plus i, .sm-bottomp4p .sm-widget-more .sw-dpl-plus em
	{
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.sm-bottomp4p .sm-widget-more:link, .sm-bottomp4p .sm-widget-more:hover
	{
	color: #888
}

.sm-bottomp4p .sm-widget-more:hover {
	color: #ff7300;
	border-color: #ff7300
}